In [18]:
import pymongo

In [19]:
obj=pymongo.MongoClient()

In [33]:
db=obj.mylib

In [37]:
db.hello2.find_one()

{'_id': '1001', 'name': 'Ram', 'age': 26.0, 'city': 'Hyderabad'}

In [49]:
db2 = obj['mine']
print("Database created........")

Database created........

In [50]:
print("List of databases after creating new one")
print(obj.list_database_names())

List of databases after creating new one
['admin', 'config', 'local', 'mylib']

In [51]:
collection = db['example']
print("Collection created........")

Collection created........

In [59]:
coll = db['mine']
data = [
   {"_id": "101", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "102", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "103", "name": "Robert", "age": "28", "city": "Mumbai"}
]
res=coll.insert_many(data)

In [ ]:
print(obj.list_database_names())

In [29]:
db=obj.mine
db.collection.find_one()

In [46]:
client =pymongo.MongoClient()

In [47]:
db = client['mydb']
print("Database created........")

Database created........

In [48]:
print("List of databases after creating new one")
print(client.list_database_names())

List of databases after creating new one
['admin', 'config', 'local', 'mylib']

In [60]:
print(res.inserted_ids)

['101', '102', '103']

In [61]:
print(obj.list_database_names())

['admin', 'config', 'local', 'mydb', 'mylib']

In [62]:
hello=pymongo.MongoClient()

In [63]:
db2=hello['treak']
print("Database Created")

Database Created

In [67]:
print(hello.list_database_names())

['admin', 'config', 'local', 'mydb', 'mylib']

In [68]:
coll1=db['emp']
print("Collection Created")

Collection Created

In [69]:
data1=[
    {"_id": "104", "name": "John", "age": "26", "city": "Manchester"},
   {"_id": "105", "name": "Walter", "age": "29", "city": "New York"},
   {"_id": "106", "name": "Rob", "age": "34", "city": "Seoul"}
    ]
tes=coll1.insert_many(data1)

In [76]:
print(tes.inserted_ids)

['104', '105', '106']

In [71]:
print(hello.list_database_names())

['admin', 'config', 'local', 'mydb', 'mylib']

In [72]:
db2=hello['treak']
print("Database Created")

Database Created

In [74]:
print(obj.list_database_names())

['admin', 'config', 'local', 'mydb', 'mylib']

In [77]:
print(coll1.find_one({"_id": "105"}))

{'_id': '105', 'name': 'Walter', 'age': '29', 'city': 'New York'}

In [79]:
print(hello.list_database_names())

['admin', 'config', 'local', 'mydb', 'mylib']

In [80]:
print(coll1.find_one({"_id": "106"}))

{'_id': '106', 'name': 'Rob', 'age': '34', 'city': 'Seoul'}

In [86]:
db2=obj.treak

In [87]:
db2.emp.find_one()