In [1]:
import pymongo

In [2]:
client=pymongo.MongoClient()

In [3]:
db=client['Simple']

In [5]:
col=db['hello']

In [6]:
data=[
    {"_id": "110", "name": "Paul", "age": "34", "city": "Seoul"},
   {"_id": "111", "name": "Alan", "age": "38", "city": "Tokyo"},
   {"_id": "112", "name": "Samuel", "age": "41", "city": "California"}
    ]
res=col.insert_many(data)

In [8]:
print(col.find_one())

{'_id': '110', 'name': 'Paul', 'age': '34', 'city': 'Seoul'}

In [10]:
print(client.list_database_names())

['Simple', 'admin', 'config', 'fool', 'local', 'mydb', 'mylib']

In [3]:
db1=client.Simple

In [4]:
db1.hello.find_one()

{'_id': '110', 'name': 'Paul', 'age': '34', 'city': 'Seoul'}

In [5]:
ses=db1.hello

In [6]:
for doc in ses.find():
    print(doc)

{'_id': '110', 'name': 'Paul', 'age': '34', 'city': 'Seoul'}
{'_id': '111', 'name': 'Alan', 'age': '38', 'city': 'Tokyo'}
{'_id': '112', 'name': 'Samuel', 'age': '41', 'city': 'California'}

In [13]:
for doc in ses.find().sort("name",-1):
    print(doc)

{'_id': '112', 'name': 'Samuel', 'age': '41', 'city': 'California'}
{'_id': '110', 'name': 'Paul', 'age': '34', 'city': 'Seoul'}
{'_id': '111', 'name': 'Alan', 'age': '38', 'city': 'Tokyo'}

In [15]:
data=[
    {"_id": "104", "name": "John", "age": "26", "city": "Manchester"},
   {"_id": "105", "name": "Walter", "age": "29", "city": "New York"},
   {"_id": "106", "name": "Rob", "age": "34", "city": "Seoul"}
    ]
res=ses.insert_many(data)

In [16]:
for doc in ses.find():
    print(doc)

{'_id': '110', 'name': 'Paul', 'age': '34', 'city': 'Seoul'}
{'_id': '111', 'name': 'Alan', 'age': '38', 'city': 'Tokyo'}
{'_id': '112', 'name': 'Samuel', 'age': '41', 'city': 'California'}
{'_id': '104', 'name': 'John', 'age': '26', 'city': 'Manchester'}
{'_id': '105', 'name': 'Walter', 'age': '29', 'city': 'New York'}
{'_id': '106', 'name': 'Rob', 'age': '34', 'city': 'Seoul'}

In [21]:
for doc in ses.find().sort("name"):
    print(doc)

{'_id': '111', 'name': 'Alan', 'age': '38', 'city': 'Tokyo'}
{'_id': '104', 'name': 'John', 'age': '26', 'city': 'Manchester'}
{'_id': '106', 'name': 'Rob', 'age': '34', 'city': 'Seoul'}
{'_id': '112', 'name': 'Samuel', 'age': '41', 'city': 'California'}
{'_id': '105', 'name': 'Walter', 'age': '29', 'city': 'New York'}

In [19]:
result=ses.delete_one({"name":"Paul"})

In [23]:
for result in ses.find():
    print(result)

{'_id': '111', 'name': 'Alan', 'age': '38', 'city': 'Tokyo'}
{'_id': '112', 'name': 'Samuel', 'age': '41', 'city': 'California'}
{'_id': '104', 'name': 'John', 'age': '26', 'city': 'Manchester'}
{'_id': '105', 'name': 'Walter', 'age': '29', 'city': 'New York'}
{'_id': '106', 'name': 'Rob', 'age': '34', 'city': 'Seoul'}